.allPosts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 60px;
}

.postsTitle{
    font-size: 30px;
    color: white;
}

.container{
    color: white;
    width: 60%;
    margin: 10px 30px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
}

.postPreview{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: var(--accent-two);
    background-color: white;

    width: 20%;
    height: fit-content;

    transform: scale(1.0);
    transition: ease-out 0.2s;
}

.postPreview:hover{
    transform: scale(1.02);
    transition: ease-in 0.2s;
}

.postPreviewImage{
    width: 100px;
}

.postPreviewInfo{
   text-align: center;
   padding: 5px;
   width: 70%;
}

.postPreviewInfo h4 {
    margin: 2px;
}

.postPreviewInfo h5{
    margin: 2px;
}