.nav{
    background: var(--accent-one);
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:last baseline;
}

.navHeader{
    margin: 10px 0px 10px 10px;
    display: flex;
    flex-direction: column;
    line-height: 1;
    width: 50%;
}

/* top right bottom left */
.navTitle{
    margin: 0px;
    font-weight: 400;
}

.navTagline{
    margin: 0px;
    font-weight: 400;
    font-size: 18px;
}

.navList{
    margin: 2px 5px 5px 0px;
    width: 50%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navItem{
    
}